files:
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/nyt_webscraper_sqlinput.conf":
    content: |
      /tmp/nyt_webscraper_sqlinput*

  "/opt/elasticbeanstalk/tasks/taillogs.d/nyt_webscraper_sqlinput.conf":
    content: |
      /tmp/nyt_webscraper_sqlinput.log

  "/opt/elasticbeanstalk/tasks/bundlelogs.d/nytArchiveGET.conf":
    content: |
      /tmp/nytArchiveGET*

  "/opt/elasticbeanstalk/tasks/taillogs.d/nytArchiveGET.conf":
    content: |
      /tmp/nytArchiveGET.log
